# Ignore Environment Variables (Secrets)
.env
*.env

# Ignore WireGuard Keys
*.key
*.conf

# Ignore Docker persistent data/volumes
*/data/
*/config/
*/work/
*/logs/

# Ignore massive media binaries
media/

# Ignore Docker state/cache files we don't want tracked
*/config/*/logs/
*/config/radarr/MediaCover/
*/config/sonarr/MediaCover/
